#board {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 320px;
}

#board ul {
  display: flex;
  flex-wrap: wrap;
}

#board ul li {
  /*display: flex;*/
  height: 68px;
  width: 68px;
  margin: 5px;
  border: .5px solid black;
  border-radius: 15px;
  list-style: none;
  background: linear-gradient(135deg, white, silver);
  box-shadow: 0 0 .25em black;
  cursor: pointer;
  /*z-index: 1;*/
  position: relative;
}

#board ul li div:first-child {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 5px;
}

#board ul li div:last-child {
  /*height: 100%;*/
  font-size: 38px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

#board ul li div {
  font-family: sans-serif;
}
