#board {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 320px;
}

#board ul {
  display: flex;
  flex-wrap: wrap;
}

#board ul li {
  height: 68px;
  width: 68px;
  margin: 5px;
  border: .5px solid black;
  border-radius: 15px;
  list-style: none;
  background: linear-gradient(135deg, white, silver);
  box-shadow: 0 0 .25em black;
  cursor: pointer;
  position: relative;
}

#board ul li:active {
  background: linear-gradient(135deg, white, gold);
  -webkit-animation: jiggle 0.2s infinite;
  -moz-animation-duration: 0.2s;
  -moz-animation-name: jiggle;
  -moz-animation-iteration-count: infinite;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

#board ul li.active {
  background: linear-gradient(135deg, white, gold);
  -webkit-animation: jiggle 0.2s infinite;
  -moz-animation-duration: 0.2s;
  -moz-animation-name: jiggle;
  -moz-animation-iteration-count: infinite;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
    }
    50% {
        -moz-transform: rotate(1deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
        }
    50% {
        -webkit-transform: rotate(1deg);
    }
}

#board ul li div:first-child {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 5px;
}

#board ul li div:last-child {
  font-size: 38px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

#board ul li div {
  font-family: sans-serif;
}

.gameOverText {
  color: white;
  font-family: sans-serif;
  margin-top: 50px;
  width: 75%;
  font-weight: 700;
  font-size: 24px;
}

.svgLine {
  position: absolute;
  z-index: -1;
}

.svgLine line {
  stroke: gold;
  stroke-width: 10px;
}

.invisible line {
  visibility: hidden;
}
