body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.jpg");
  height: 700px;
  margin-top: 30px;
}

.boardAndSubmitted {
  display: flex;
  align-items: center;
}

.barAndStart {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

#startButton {
  margin-left: 20px;
}

#startButton button {
  cursor: pointer;
  height: 30px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: black;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: transparent;
  background: linear-gradient(135deg, white, silver);
}

.timerAndScore {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

#timer {
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}

.iconList {
  width: 1000px;
  margin-top: 30px;
}

.icons {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.icons li {
  margin: 20px;
}

.icons i {
  font-size: 50px;
  cursor: pointer;
  color: white;
}

.wordsPoints {
  padding-bottom: 10px;
}

.highscores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highscores input {
  margin-top: 10px;
  width: 150px;
  height: 20px;
  background-color: transparent;
  border: 1px solid gold;
  border-radius: 10px;
  color: gold;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.highscores input:focus {
  outline: none;
}

.highscores input::placeholder {
  color: gold;
  font-size: 14px;
  text-align: center;
}

.mute {
  cursor: pointer;
  font-family: sans-serif;
  color: white;
}

.timerAndScore i {
  font-size: 30px;
  margin-bottom: 15px;
}

.muted {
  color: red;
}
