#submittedWords {
  height: 300px;
  width: 300px;
  padding-top: 10px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 10px;
  /*overflow: auto;*/
}

#submittedWords ul {
  font-size: 16px;
  list-style: none;
  text-align: left;
  border-top: 1px solid black;
  margin-top: 10px;
  padding: 0 15px;
  height: 260px;
  overflow: auto;
}

#submittedWords li:first-child {
  margin-top: 10px;
}
