#submitBar input {
  background-color: transparent;
  border: 1px solid silver;
  border-radius: 10px;
  height: 30px;
  width: 300px;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
}
